/* 
	Main file for the NBCS Omega Subtheme.
	antsar@rutgers.edu | 6/2013
	
*/

/* Font "Chivo" from www.google.com/fonts/specimen/Chivo */
/* Multiple formats from http://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
    font-family: 'chivo';
    src: url('../fonts/chivo-regular/chivo-regular-webfont.eot');
    src: url('../fonts/chivo-regular/chivo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chivo-regular/chivo-regular-webfont.woff') format('woff'),
         url('../fonts/chivo-regular/chivo-regular-webfont.ttf') format('truetype'),
         url('../fonts/chivo-regular/chivo-regular-webfont.svg#chivoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	-webkit-text-size-adjust:100%;
	font-family: chivo, Verdana, Helvetica, Arial, sans-serif !important;
}

body {
	font: 13px/1.5 chivo, Verdana, Helvetica, Arial, sans-serif !important;
	background-color: #dfdfdf;
	letter-spacing: .01em;
}


h1, h2, h3, h4, h5, h6 {
	letter-spacing: .01em;
	font-family: chivo, Verdana, Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child {
	margin-bottom: 5px;
}

h1 {
	text-transform: uppercase;
	letter-spacing: .005em;
	font-size: 24px;
}

h2 {
	letter-spacing: .005em;
	font-size: 20px;
}

h2.node-title {
	letter-spacing: .005em;
	font-size: 20px;
}

h3 {
        letter-spacing: .005em;
        font-size: 18px;
}

ul {
	margin-top
	list-style-type: square;
}

/* Top bar */
div#zone-user-wrapper {
	background-color: #333;
	box-shadow: 0px 3px 5px #444;
	position: relative; /* for shadow to be visible */
}
div#zone-user a, div#zone-user span {
	color: #fff;
	text-decoration: none;
	padding: 0 5px;
	float: left;
}
div#zone-user div.region:first-child p:after {
	content: "";
	display: table;
	clear: both;
}
div#zone-user div.region {
	height: 26px;
	padding: 4px 0px 4px 0px;
	line-height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-wrap: none;
}
div#zone-user div.region input[type=text] { /* search form */
	margin-bottom: 4px;
	width: 100%;
}

/* Header (Rutgers OIT logo, etc) */
div#zone-branding-wrapper {
	background-color: #d21034; /* red, extends the banner image sideways */
}
div#zone-branding {
	background: #d21034;
	background-repeat: none;
	background-origin: border-box;
	background-size: auto 100%;
	padding: 0px;
}
/* mobile logo, see js/script.js for implementation  -antsar */
img#logo-mobile {
	display: none;
}

/* 
	Note: For menubar/navigation stylesheet, see ./custom/modules/nice_menus/style.css
*/

/* Menu */
div.zone-menu-wrapper {
	
	/* gray gradient */
	background: #aaaaaa;
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #7a7a7a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#7a7a7a));
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#7a7a7a 100%);
	background: -o-linear-gradient(top,  #aaaaaa 0%,#7a7a7a 100%);
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#7a7a7a 100%);
	background: linear-gradient(to bottom,  #aaaaaa 0%,#7a7a7a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#7a7a7a',GradientType=0 );
}
div.zone-menu * {
	z-index: 50;
}

/* Responsive Menu */

div.zone-menu div.region-menu div.block-nice-menus-1 { /* Normal nice_menus */
	display: none;
}
div.zone-menu div.region-menu div.form-item-jump { /* Jump Menu */
	display: block-inline;
}
div.zone-menu div.region-menu div.block-nice-menus-2 { /* Depth:0 nice_menus */
	display: none;
}

/* jump menu */
div.zone-menu div.region-menu select.ctools-jump-menu-select {
	width: 100%;
	margin: 8px 0px;
}

div.zone-menu div.region-menu select.ctools-jump-menu-select:focus {
	box-shadow: none;
}



/* Mobile-friendly nice_menus settings ("depth:0") */
ul.nice-menu {
	width: 100%;
	text-align: center;
}
ul.nice-menu > li {
	display: inline-block;
	float: none;
}
ul.nice-menu a {
    padding: 0.3em 5px;
    text-align: center;
}
ul.nice-menu ul, ul.nice-menu ul a {
	display: none;
}



/* Header Second (for Social Media buttons) */
div#region-header-second {
	display: none;
	/*
	float: right;
	text-align: right;
	margin-top: -125px;
	*/
}


/* Main Content */
div#zone-content-wrapper {
	padding: 15px 10px 0px 10px;
}
div#zone-content {
	background-color: #fff;
}
div.region-content input, 
div.region-content img,
div.region-content span, 
div.region-content p, 
div.region-content iframe {
	max-width: 100%;
	width: auto;
	height: auto;
}
div#region-content p {
	margin: 0 0 15px 0;
}
div#region-content p + ul, div#region-content p + ol, div#region-content p + p {
	margin-top: -10px;
}

/* Content Listings (taxonomy, etc) */
article.node-teaser nav li.node-readmore {
	display: none;
}
body.page-taxonomy-term div.feed-icon {
	display: none;
}

/* Breadcrumbs */
div.zone-content div#breadcrumb {
	margin-left: 243px;
	margin-top: 4px;
}
div.zone-content div#breadcrumb a {
	text-decoration: none;
	color: #333;
}
div.zone-content div#breadcrumb a:hover {
	text-decoration: underline;
}

/* Left Side Navigation Menu */
aside#region-sidebar-first {
	background-color: #fff;
	box-shadow: 0px 0px 6px 3px #999;
}
aside#region-sidebar-first section h2.block-title,h2.block-title>a {
	color: #666;
	text-decoration: none;
	font-size: 16px;
}
aside#region-sidebar-first section ul.menu>li {
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #dedede;
}
aside#region-sidebar-first section div>ul.menu>li:first-child { /* top-level */
	border-top: 1px solid #dedede;
}
aside#region-sidebar-first section div>ul.menu>li:last-child { /* top-level */
	border-bottom: none;
}
aside#region-sidebar-first section div>ul.menu>li a { /* top-level */
	color: #787878;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.001em;
}
aside#region-sidebar-first section div>ul.menu>li.expanded ul { /* top-level */
	border-top: 1px solid #dedede;
}
aside#region-sidebar-first section div>ul.menu>li a:hover {
	text-decoration: underline;
}
aside#region-sidebar-first section div>ul.menu>li a.active {
	color: #aa2e40;
}
aside#region-sidebar-first section div>ul.menu ul li:last-child, aside#region-sidebar-first section div>ul.menu ul li:first-child {
	border: none;
}
aside#region-sidebar-first section div>ul.menu ul li a { /* not top-level */
	color: #787878;
	font-size: 12px;
	font-weight: 400;
	text-transform: none;
}

/* Page Body */
div#region-content div.book-navigation ul.menu {
	padding: .3em .1em .3em 3em;
}
div#region-content div.book-navigation ul.menu li.leaf {
	list-style-image: none;
	list-style-type: square;
}

/* Footer */
div#zone-footer {
	/* gray gradient - #aaaaaa to #7a7a7a */
	background: #aaaaaa;
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #7a7a7a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#7a7a7a));
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#7a7a7a 100%);
	background: -o-linear-gradient(top,  #aaaaaa 0%,#7a7a7a 100%);
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#7a7a7a 100%);
	background: linear-gradient(to bottom,  #aaaaaa 0%,#7a7a7a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#7a7a7a',GradientType=0 );
}

/* footer text styling */
div#zone-footer {
	color: #333;
}
div#zone-footer a {
	color: #fff;
	text-decoration: none;
}
div#zone-footer h2 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .01em;
	font-weight: 600;
	
}
/* do not indent RSS feed article names */
div#zone-footer .item-list ul li {
	margin: 0 0 0 15px;
	text-indent: -15px;
}

/* Center the RU Copyright */
div.zone-footer div#region-footer-second div.region-inner div.block-inner div.content {
	text-align: center;
}

/* QUICKTABS - NOSTYLE OVERRIDE */
.quicktabs-wrapper.quicktabs-style-nostyle {
  margin: 0;
  width: 900px;
  height: 300px;
  display: block;
  box-shadow: 3px 3px 5px #666;
}
ul.quicktabs-tabs.quicktabs-style-nostyle {
  float: left;
  padding: 10px 1px 10px 3px;
  margin: 0;
  position: relative;
  z-index: 31;
  background-color: #990000;
  height: 280px;
  width: 196px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle li {
  display: block;
  margin: 0;
  margin-right: -1px;
  padding: 0 3px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle li a {
  display: block;
  color: #fff;
  text-align: left;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0 0;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
  background: #fff;
  border-top: 1px solid #BFD0FF;
  border-bottom: 1px solid #BFD0FF;
}
ul.quicktabs-tabs.quicktabs-style-nostyle li.active a {
  color: #666;
}

.quicktabs_main.quicktabs-style-nostyle {
  float: left;
  border: 0px;
  padding: 0px;
  min-height: 64px;
  position: relative;
  z-index: 31;
  width: 70%;
  background-color: #333;
  height: 300px;
  width: 700px;
}


/* Hours Display */
.oh-current-closed {
	color: #c00;
}
.oh-current-open {
	color: #0c0;
}


/* PRINT VIEW */
@media print {
	header#section-header {
		display: none;
	}
	div#region-footer-first {
		display: none;
	}
	h1#page-title {
		font-size: 16px;
		text-align: center;
		margin-top: 0px;
	}
	h1#page-title:before {
		text-align: center;
		font-size: 14px;
		display: block;
		width: 100%;
		margin-top: 0px;
		content: "Office of Information Technology | New Brunswick";
	}
}
