/* -- NORMAL LAYOUT (960px wide or larger) -- */
/* This layout includes the image slider and nav menus at full scale */

/* Top bar */
div#region-user-first {
	width: 600px;
}
div#region-user-second {
	width: 300px;
}

/* Header (Rutgers OIT logo, etc) */
div#zone-branding-wrapper {
	height: 100px;
}
div#zone-branding {
	background: #d21034 url(../images/header-bg.png) no-repeat;
	height: 100px;
}
div#region-branding {
	height: 100px;
}
div#region-branding img#logo {
	display: inline;
	margin: 15px;
	height: 70px;
	width: auto;
}
div#region-branding img#logo-mobile {
	display: none;
}

/* Menu */
div#zone-menu-wrapper {
	margin-bottom: 15px;
}

/* Preface (the slideshow) */
body.front div.zone-preface.container-12 {
	width: 900px;
}
body.front div.region-preface-second {
	display: block;
	width: 900px;
	height: 300px;
	z-index: 30;
	margin: 0px;
}
body.front div#zone-preface-wrapper {
	min-height: 300px;
	height: 100%;
}

/* Zone: Content */
div.zone-content {
	margin-top: -5px;
}
body.front div.zone-content {
	margin-top: 10px;
	padding-top: 35px;
	position: relative;
}
div.zone-content div#region-content div.region-inner {
	padding: 10px 20px;	
}


/* Breadcrumbs - Hidden in this view */
div.zone-content div#breadcrumb {
	display: none;
}

/* Left Side Navigation Menu */
aside#region-sidebar-first {
	display: block;
	position: relative;
	margin: -10px 0 10px 0;
	padding: 5px;
}

aside#region-sidebar-first section ul.menu>li {
	padding-right: 0px;
}
aside#region-sidebar-first section div>ul.menu ul li { /* not top-level */
	padding-right: 0px;
}

/* Main Content */
div#region-content.grid-9 { /* With 1 sidebar */
	width: 700px;
	margin: 0 0;
	padding: 10px 10px;
}
div#zone-content.container-12 {
	width: 960px;
}
div#region-content.grid-12 { /* Full-width, no sidebars */
	width: 940px;
	margin: 0 0 0 0;
	padding: 10px 10px;
	position: relative;
}

/* Footer */
div.zone-footer.container-12 {
	width: 960px;
}
div.region-footer-first.grid-12 {
	width: 940px;
}

/* Overall footer zone, side and top/bottom margins. These should stay similar to those of #region-content */
div.zone-footer div#region-footer-first div.region-inner {
	padding: 20px 20px;
}

/* Give each block a margin */
div.zone-footer div#region-footer-first div.region-inner section.block {
	max-width: 340px;
	float:left;
	margin: 0 15px;
}

/* The first and last div shouldn't have margins, otherwise we waste too much space. */
div.zone-footer div#region-footer-first div.region-inner section:first-child {
	margin-left: 0px;
}
div.zone-footer div#region-footer-first div.region-inner section:last-child  {
	margin-right: 0px;
}


/* Copyright */
div#region-footer-second {
	width: 940px;
}

/* QUICKTABS - NOSTYLE OVERRIDE */
.quicktabs-wrapper.quicktabs-style-nostyle {
  width: 900px;
  height: 300px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle {
  padding: 10px 1px 10px 3px;
  height: 280px;
  width: 196px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle li a {
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}
.quicktabs_main.quicktabs-style-nostyle {
  min-height: 64px;
  height: 300px;
  width: 700px;
}

/* DDBLOCK */
div.ddblock-cycle-upright60p { width: 900px; }
div.ddblock-cycle-upright60p div.container{ width: 900px;}
div.ddblock-cycle-upright60p div.container-inner{ height: 365px; }
div.ddblock-cycle-upright60p div.slider{ width: 900px; }
div.ddblock-cycle-upright60p div.slider-inner{ height: 300px; }
div.ddblock-cycle-upright60p div.slide-inner img{ height: 300px; width: 900px; }
div.ddblock-cycle-upright60p div.slide-text-bottom{bottom:7px; top: 190px;}
div.ddblock-cycle-upright60p div.slide-text-horizontal{height:85px;left:0;width:900px;}
div.ddblock-cycle-upright60p div.slide-title h2{font-size: 20px;}
div.ddblock-cycle-upright60p div.slide-body-inner p{margin:0 8px 0 0;padding:0;line-height: 19px;}

/* In-Page Slideshows */
div.inline-slideshow div.ddblock-cycle-upright60p { display: block; width: 545px; height: 233px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.container{ width: 545px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.container-inner{ height: 233px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slider{ width: 545px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slider-inner{ height: 178px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-inner img{ height: 178px; width: 545px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-text-bottom{bottom:7px; top: 86px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-text-horizontal{height:85px;left:0;width:545px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-title h2{color:#fff!important;margin:-5px 0 0 0;padding:0; font-size: 16px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-body-inner p{line-height: 16px;}
div.beside-inline-slideshow { width: 345px; }