/* -- NARROW (tablet) LAYOUT (768px - 960px wide) -- */

/* Top bar */
div#zone-user {
	display: block;
}

div#region-user-first {
	width: 	560px;
}
div#region-user-second {
	width: 120px;
}

/* Header (Rutgers OIT logo, etc) */
div#zone-branding-wrapper {
	height: 100px;
}
div#zone-branding {
	background: #d21034 url(../images/header-bg.png) no-repeat;
	height: 100px;
}
div#region-branding {
	height: 100px;
}
div#region-branding img#logo {
	display: inline;
	margin: 15px;
	height: 70px;
	width: auto;
}
div#region-branding img#logo-mobile {
	display: none;
}

/* Header Second (for Social Media buttons) */
div#region-header-second {
	display: block;
	float: right;
	text-align: right;
	margin-top: -82px;
	height: 50px;
	overflow: hide;
}

/* Menu */
div#zone-menu-wrapper {
	margin-bottom: 15px;
}

div.zone-menu div.region-menu div.block-nice-menus-1 { /* Normal nice_menus */
	display: block;
}
div.zone-menu div.region-menu div.form-item-jump { /* Jump Menu */
	display: none;
}
div.zone-menu div.region-menu div.block-nice-menus-2 { /* Depth:0 nice_menus */
	display: none;
}

/* Fullsize-friendly nice_menus settings ("Normal") */
div.zone-menu div.region-menu div.block-nice-menus {
	float: left;
	position: relative;
	left: 0;
}
ul.nice-menu {
	position: relative;
	left: 0;
    width: 940px;
}
ul.nice-menu li {
    width: auto;
}
ul.nice-menu a {
    padding: 0.3em 5px;
    text-align: left;
}
ul.nice-menu ul, ul.nice-menu ul a {
	display: block;
}
ul.nice-menu > li {
	display: block;
	float: left;
}

/* Preface (the slideshow) */
body.front div.zone-preface.container-12 {
	width: 700px;
}
body.front div.region-preface-second {
	display: block;
	width: 700px;
	height: 233px;
	z-index: 30;
	margin: 0px;
}
body.front div#zone-preface-wrapper {
	min-height: 233px;
	height: 100%;
}

/* Zone: Content */
div.zone-content {
	margin-top: -5px;
}
body.front div.zone-content {
	margin-top: 10px;
	padding-top: 35px;
	position: relative;
}
div.zone-content div#region-content div.region-inner {
	padding: 10px 20px;	
}


/* Breadcrumbs - Hidden in this view */
div.zone-content div#breadcrumb {
	display: none;
}

/* Left Side Navigation Menu */
aside#region-sidebar-first {
	display: block;
	position: relative;
	margin: -10px 0 10px 0;
	padding: 5px;
}

aside#region-sidebar-first section ul.menu>li {
	padding-right: 0px;
}
aside#region-sidebar-first section div>ul.menu ul li { /* not top-level */
	padding-right: 0px;
}

/* Main Content */
div#region-content.grid-9 { /* With 1 sidebar */
	width: 500px;
	margin: 0 0;
	padding: 10px 10px;
}
div#zone-content.container-12 {
	width: 740px;
}
div#region-content.grid-12 { /* Full-width, no sidebars */
	width: 720px;
	margin: 0 0 0 0;
	padding: 10px 10px;
	position: relative;
}

/* Footer */
div.zone-footer.container-12 {
	width: 740px;
}
div.region-footer-first.grid-12 {
	width: 720px;
}

/* Overall footer zone, side and top/bottom margins. These should stay similar to those of #region-content */
div.zone-footer div#region-footer-first div.region-inner {
	padding: 10px 10px;
}

/* Give each block a margin */
div.zone-footer div#region-footer-first div.region-inner section.block {
	max-width: 220px;
	float:left;
	margin: 0 10px;
}

/* The first and last div shouldn't have margins, otherwise we waste too much space. */
div.zone-footer div#region-footer-first div.region-inner section:first-child {
	margin-left: 0px;
}
div.zone-footer div#region-footer-first div.region-inner section:last-child  {
	margin-right: 0px;
}
/* Copyright */
div#region-footer-second {
	width: 740px;
}


/* QUICKTABS - NOSTYLE OVERRIDE */
.quicktabs-wrapper.quicktabs-style-nostyle {
  width: 700px;
  height: 233px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle {
  padding: 10px 1px 10px 3px;
  height: 213px;
  width: 152px;
}
ul.quicktabs-tabs.quicktabs-style-nostyle li a {
  height: 33px;
  line-height: 33px;
  font-size: 12.5px;
}
.quicktabs_main.quicktabs-style-nostyle {
  min-height: 50px;
  height: 233px;
  width: 500px;
}

/* DDBLOCK */
div.ddblock-cycle-upright60p { display: block; width: 700px; height: 300px; }
div.ddblock-cycle-upright60p div.container{ width: 700px;}
div.ddblock-cycle-upright60p div.container-inner{ height: 300px; }
div.ddblock-cycle-upright60p div.slider{ width: 700px; }
div.ddblock-cycle-upright60p div.slider-inner{ height: 240px; }
div.ddblock-cycle-upright60p div.slide-inner img{ height: 240px; width: 700px; }
div.ddblock-cycle-upright60p div.slide-text-bottom{bottom:7px; top: 148px;}
div.ddblock-cycle-upright60p div.slide-text-horizontal{height:85px;left:0;width:700px;}
div.ddblock-cycle-upright60p div.slide-title h2{font-size: 20px;}
div.ddblock-cycle-upright60p div.slide-body-inner p{margin:0 8px 0 0;padding:0;line-height: 19px;}


/* In-Page Slideshows */
div.inline-slideshow div.ddblock-cycle-upright60p { display: block; width: 424px; height: 180px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.container{ width: 424px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.container-inner{ height: 180px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slider{ width: 424px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slider-inner{ height: 138px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-inner img{ height: 138px; width: 424px; }
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-text-bottom{bottom:5px; top: 67px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-text-horizontal{height:66px;left:0;width:424px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-title h2{color:#fff!important;margin:-5px 0 0 0;padding:0; font-size: 16px;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-body-inner p{margin:0 6px 0 0;padding:0;}
div.inline-slideshow div.ddblock-cycle-upright60p div.slide-body-inner p{line-height: 13px;}
div.beside-inline-slideshow { width: 256px; }

/* Responsive columns within the content */
div.responsive-stackable-columns-3 div.inside div.panels-flexible-region {
    width: 33.33%;
}