/* -- FLUID (mobile) LAYOUT (less than 768px wide, for phones, etc) -- */

body {
	min-width: 320px;
}

/* Top bar */
div#zone-user {
	display: none;
}
/*
div#region-user-first {
	display: none;
}
div#region-user-second {
	display: block;
	width: 98%;
}
*/
 
/* Header (Rutgers OIT logo, etc) */
div#zone-branding-wrapper {
	height: auto;
}
div#zone-branding {
	background: #d21034;
	height: auto;
}
div#region-branding {
	max-height: 100px;
	height: auto;
}
div#region-branding img#logo {
	display: none;
	margin: 15px;
	width: 100%;
	height: auto;
}
div#region-branding div.logo-img {
	margin: 0 10px;
}
div#region-branding img#logo-mobile {
	width: 98%;
	height: auto;
	display: inline;
	margin: 1%;
	margin-top: 2%;
}


/* Menu */
div#zone-menu-wrapper {
	margin-bottom: 0px;
}

/* Preface on the Front Page. Do not display in fluid layout. */
body.front div.region-preface-second {
	display: none;
}
body.front div.zone-content {
	margin-top: 0px;
}

/* Zone: Content */
div.zone-content div#region-content div.region-inner {
	padding: 0px 10px;
}

/* Youtube Videos (via ContentType Field  */
div#region-content div.field-item iframe {
    width: 640px;
    height: 480px;
}

/* Breadcrumbs */
div.zone-content div#breadcrumb {
	margin-left: 4px;
	margin-top: 4px;
}
div.zone-content div#breadcrumb a {
	text-decoration: none;
	color: #333;
}
div.zone-content div#breadcrumb a:hover {
	text-decoration: underline;
}

/* Left Side Navigation Menu - Do not display in fluid layout. */
aside#region-sidebar-first {
	display: none;
}

/* Main Content */
div#region-content {
	width: 95%;
	margin: 0 0;
	padding: 1% 2.5%;
}

/* Footer */
div#zone-footer-wrapper {
	padding: 0 10px;
}

/* Overall footer zone, side and top/bottom margins. These should stay similar to those of #region-content */
div.zone-footer div#region-footer-first div.region-inner {
	padding: 10px 10px;
}

/* Give each block a margin */
div.zone-footer div#region-footer-first div.region-inner section.block {
	min-width: 25%;
	float:left;
	margin: 0 2% 0 2%;
}

/* Copyright */
div#region-footer-second {
	margin-top: 10px;
}


/* DDBLOCK */
div.ddblock-cycle-upright60p { display: none; }

/* In-Page Slideshows */
div.beside-inline-slideshow { width: auto; }

/* Responsive columns within the content */
div.responsive-stackable-columns-3 div.inside div.panels-flexible-region {
    width: 100%;
}