/* Styles for nice_menus module */

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #7a7a7a;
}

ul.nice-menu li {
  border-top: 0;
  float: left; /* LTR */
  background-color: #7a7a7a;
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
  text-decoration: none;
  color: #222;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: .08em;
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #7a7a7a;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}

ul.nice-menu ul li a {
  color: #fff;
  font-size: .9em;
  font-weight: 200;
  letter-spacing: .06em;
}

ul.nice-menu ul li:hover {
  background-color: #990000;
}



/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #7a7a7a url("./images/arrow-right.png") right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #990000 url("./images/arrow-right.png") right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #7a7a7a url("./images/arrow-left.png") left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #990000 url("./images/arrow-left.png") left center no-repeat;
}

ul.nice-menu-left a,
ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
	float: left; /* LTR */
	border: 0;
	
  /* gray gradient */
  /*
	background: #d4d4d4;
	background: -moz-linear-gradient(top,  #d4d4d4 0%, #a4a4a4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(100%,#a4a4a4));
	background: -webkit-linear-gradient(top,  #d4d4d4 0%,#a4a4a4 100%);
	background: -o-linear-gradient(top,  #d4d4d4 0%,#a4a4a4 100%);
	background: -ms-linear-gradient(top,  #d4d4d4 0%,#a4a4a4 100%);
	background: linear-gradient(to bottom,  #d4d4d4 0%,#a4a4a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#a4a4a4',GradientType=0 );
	*/
}	

ul.nice-menu-down > li {
  /*border-top: 1px solid #ccc;*/
  background: transparent;
}
ul.nice-menu > li:hover > a {
	color: #990000;
}
ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 10px; /* LTR */
}

ul.nice-menu-down li.menuparent {
	background: transparent; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {	
	background: transparent; /* LTR */
}

ul.nice-menu-down li li.menuparent {
  background: #7a7a7a url("./images/arrow-right.png") right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: #990000 url("./images/arrow-right.png") right center no-repeat; /* LTR */
}


/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
  background: #7a7a7a url("./images/arrow-down.png") right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li.menuparent:hover {
  background: #990000 url("./images/arrow-down.png") right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent {
  background: #7a7a7a url("./images/arrow-right.png") right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent:hover {
  background: #990000 url("./images/arrow-right.png") right center no-repeat; /* LTR */
}
