/*
 * Dynamic display block module template (Drupal 7): upright60p - Cascading Style Sheet
 * (c) Copyright Phelsa Information Technology, 2011. All rights reserved.
 * Version 1.0 ( 21-JAN-2011 )
 * Licenced under GPL license
 * http://www.gnu.org/licenses/gpl.html
 */

div.ddblock-cycle-upright60p { width: 700px; }
div.ddblock-cycle-upright60p div.container{background-color:#333; width:700px;}
div.ddblock-cycle-upright60p div.container-inner{height:300px; position:relative;}
div.ddblock-cycle-upright60p div.slider{float:left; width:700px;}
div.ddblock-cycle-upright60p div.slider-inner{background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;height:240px;overflow:hidden;position:relative;visibility:hidden;}
div.ddblock-cycle-upright60p div.slide{display:none;height:100%;left:0;position:absolute;top:0;}

/* image */
div.ddblock-cycle-upright60p div.slide-inner img{height:240px;width:700px;margin:0 !important;padding:0 !important;}

/* text overlay */
div.ddblock-cycle-upright60p div.slide-text{background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;position:absolute;}
div.ddblock-cycle-upright60p div.slide-text-horizontal{height:85px;left:0;width:700px;}
div.ddblock-cycle-upright60p div.slide-text-vertical{height:240px;width:140px;}
div.ddblock-cycle-upright60p div.slide-text-top{top:7px;}
div.ddblock-cycle-upright60p div.slide-text-right{bottom:0;right:30px;}
div.ddblock-cycle-upright60p div.slide-text-bottom{bottom:7px; top: 148px;}
div.ddblock-cycle-upright60p div.slide-text-left{bottom:0;left:30px;}
div.ddblock-cycle-upright60p div.slide-text-inner{padding:10px;}
div.ddblock-cycle-upright60p div.slide-title{float:left;}
div.ddblock-cycle-upright60p div.slide-title-vertical{width:100%;}
div.ddblock-cycle-upright60p div.slide-title-horizontal{float:none;/*width:158px;*/}
div.ddblock-cycle-upright60p div.slide-title h2{color:#fff!important;margin:-5px 0 0 0;padding:0; font-size: 20px;}
div.ddblock-cycle-upright60p div.slide-title h2 a{color:#fff!important;text-decoration:none;}
div.ddblock-cycle-upright60p div.slide-title-inner{color:white;font-weight:bold;}

div.ddblock-cycle-upright60p div.slide-body-vertical{width:132px;}
div.ddblock-cycle-upright60p div.slide-body-horizontal{float:left;width:85%;}
div.ddblock-cycle-upright60p div.slide-body-inner{color:white;}
div.ddblock-cycle-upright60p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}

/* Slide read more button */
div.ddblock-cycle-upright60p div.slide-read-more{width:70px; height: 24px;}
div.ddblock-cycle-upright60p div.slide-read-more p{padding:0;margin:0;}
div.ddblock-cycle-upright60p div.slide-read-more a{background:url(images/readmore-hover.png) no-repeat; background-size: contain; border:none;bottom:5px;color:#ddd;font-size:12px;line-height:12px;margin:0;padding:4px 8px 4px 10px;position:absolute;text-decoration:none !important;text-align:left;width:68px;height:12px;}
div.ddblock-cycle-upright60p div.slide-read-more-horizontal a{right:5px;}
div.ddblock-cycle-upright60p div.slide-read-more-vertical a{right:5px;}
div.ddblock-cycle-upright60p div.slide-read-more a:hover{background:url(images/readmore.png) no-repeat !important; background-size: contain !important; text-decoration:underline;}
div.ddblock-cycle-upright60p div.slide-read-more-horizontal a:hover{right:5px;}
div.ddblock-cycle-upright60p div.slide-read-more-vertical a:hover{right:5px;}

/* scrollable pager */
/* Root element for the scrollable. When scrolling occurs this element stays still. */
div.ddblock-cycle-upright60p div.scrollable-pager {
  /* required settings */
  height:40px;
  overflow:hidden;
  position:relative;
  width: 100%;
  float:left;
  padding:5px 0;
}
div.ddblock-cycle-upright60p div.scrollable-pager-inner{
}

/*root element for scrollable items. Must be absolutely positioned
    and it should have a super large width to accomodate scrollable items.
    it's enough that you set width and height for the root element and
    not for this element.
*/
div.ddblock-cycle-upright60p div.scrollable-pager div.items {
  /*clear:both;*/
  position:absolute;
  /* this cannot be too large */
  width:20000em;
  /* decoration */
	margin-left:7px;
}

/*a single item. must be floated on horizontal scrolling
    typically this element is the one that *you* will style
    the most.
*/
div.ddblock-cycle-upright60p div.scrollable-pager div.items div {
    float:left;
}

/* you may want to setup some decorations to active item */
div.ddblock-cycle-upright60p div.scrollable-pager div.items div.active {
}

div.ddblock-cycle-upright60p div.scrollable-pager div.items div a{
  background-color:#ccc;
	border:1px solid #999;
  color:#000;
  display:block;
	font-size:20px;
	font-family: 'bitstream vera sans';
  height: 40px;
  line-height:36px;
  margin-right:10px;
  opacity:0.7;
  text-align:center;
  text-decoration:none !important;
  width: 116px;
}
div.ddblock-cycle-upright60p div.scrollable-pager div.items div a.activeSlide{border:1px solid #666;color:#fff;opacity:1;}
div.ddblock-cycle-upright60p div.scrollable-pager div.items div a:hover{border:1px solid #666;
color:#f00;opacity:1;}
div.ddblock-cycle-upright60p div.scrollable-pager div.items div a:focus{outline:none;}
div.ddblock-cycle-upright60p div.scrollable-pager div.items img{border:none;height:40px;margin:0 !important;padding:0 !important;vertical-align:middle;width:116px;}

/* prev, next, prevPage and nextPage buttons */
div.ddblock-cycle-upright60p div.prev,
div.ddblock-cycle-upright60p div.next,
div.ddblock-cycle-upright60p div.prevPage,
div.ddblock-cycle-upright60p div.nextPage {
	display: none; /* ANTSAR */
	width:18px;
	height:18px;
	background:url(arrow/left.png) no-repeat;
	float:left;
	margin:20px 10px;
	cursor:pointer;
	font-size:1px;
}

/* mouseover state */
div.ddblock-cycle-upright60p div.prev:hover,
div.ddblock-cycle-upright60p div.next:hover,
div.ddblock-cycle-upright60p div.prevPage:hover,
div.ddblock-cycle-upright60p div.nextPage:hover {
	background-position:0px -18px;
}

/* disabled navigational button */
div.ddblock-cycle-upright60p div.disabled {
	visibility:hidden;
}

/* next button uses another background image */
div.ddblock-cycle-upright60p div.next,
div.ddblock-cycle-upright60p div.nextPage {
	display: none; /* ANTSAR */
	background-image:url(arrow/right.png);
	clear:right;
}
/* enable navigational button */
/* disabled navigational button */
div.ddblock-cycle-upright60p div.prev-1,
div.ddblock-cycle-upright60p div.next-1
 {
	visibility:visible;
}

/*********** navigator ***********/
/* position and dimensions of the navigator */
div.navi {
	display: none; /* ANTSAR */
	margin-left:228px;
	width:200px;
	height:20px;
}
/* items inside navigator */
div.navi a {width:8px;height:8px;float:left;margin:3px;background:url(arrow/navigator.png) 0 0 no-repeat;display:block;font-size:1px;
}
/* mouseover state */
div.navi a:hover {background-position:0 -8px;}

/* active state (current page state) */
div.navi a.active {
	background-position:0 -16px;
}

/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright60p div.pager-slide{
  height: 50px;
  position: absolute;
  top:130px;
  width:50px;
  z-index:50;
}
div.ddblock-cycle-upright60p div.pager-slide a{
  display:block;
  height:50px;
  opacity: 0.7;
  width:50px;
}
div.ddblock-cycle-upright60p div.next-container a.next{
  background: url(images/next.png) no-repeat;
}
div.ddblock-cycle-upright60p div.prev-container a.prev{
  background: url(images/prev.png) no-repeat;
}
div.ddblock-cycle-upright60p div.next-container a.next:hover{
  background: url(images/next.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright60p div.prev-container a.prev:hover{
  background: url(images/prev.png) no-repeat;
  opacity:1;
}
div.ddblock-cycle-upright60p div.pager-slide a:focus{
  outline:none;
} 
/********************* previous next pager on slide **********************/
div.ddblock-cycle-upright60p div.prev-container{left:5px;}
div.ddblock-cycle-upright60p div.next-container{left:425px;}

/********************* Spacers **********************/
div.ddblock-cycle-upright60p div.spacer-vertical{display:block;float:left;height:50px;width:5px;background-color:#ccc;}
div.ddblock-cycle-upright60p div.spacer-horizontal{clear:both;height:5px;}


